[submodule "plugins/vim-tmux-navigator"]
	path = plugins/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "plugins/tmux-fzf-url"]
	path = plugins/tmux-fzf-url
	url = git@github.com:wfxr/tmux-fzf-url.git
[submodule "plugins/tpm"]
	path = plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
